<section class="about-show">

  <header class="page-header">
  <h1>About Us</h1>
  </header>

  <p>
    This is a random store that sells a bunch of random products! We currently have 3 categories:
    <ul>
      <li>Apparel</li>
      <li>Electronics</li>
      <li>Furniture</li>
    </ul>
    Est.2019 we are a fairly new store so we really appreciate your support
  </p>

</section>